    body {
        padding-bottom: 0em;
    }
    
    a {
        text-decoration: none;
    }
    
    ul,li {
        list-style: none;
    }
    /*  **************** fuentes de texto **************** */

    .tituloFullStack{

        font-family: 'Roboto Slab', serif;
        
    }
    /*  **************** header(Menu) **************** */
    
    .sup {
        width: 100%;
        height: 5.4em;
        border-bottom: 1px solid rgb(134, 95, 95);
        background-color: #ffffff;
        margin-top: -.5em;
        position: fixed;
        /* position: sticky; */
        padding: 0.5em;
        display: flex;
        justify-content: space-around;
        z-index: 100;
    }
    /**   no tocar  */
    
    @font-face {
        /* esa es la otra forma de usar import y todo lo q esat x debajo lo combierte es eso*/
        src: url("fonts/Blazed.ttf");
        /*esta es la direccion de la fuente */
        font-family: 'programer';
        /* esta es una direccion para usar el importa a las otras clases*/
    }
    
    .logoText {
        font-family: programer, 'Norican', cursive;
        color: black;
        font-size: 2em;
        z-index: 2;
    }
    
    .logoText:hover {
        color: rgb(34, 32, 32);
        text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.597);
    }
    
    .logo {
        /* logo */
        background-image: url(img/logo2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center 10px;
    }
    /**   no tocar  */
    
    .menu_sup ul,
    .menu_sup {
        display: flex;
        flex-direction: row;
        margin-top: 0em;
    }
    
    ul {
        margin-left: auto;
        width: 700px;
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    
    li a {
        margin-top: 1em;
        /* background-color: aqua; */
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .diaNoche {
        width: auto;
        height: auto;
        color: #7f7ea7;
        /* background-color: #8e93d1; */
        margin-top: 1em;
        /* padding: .5em; */
    }
    
    .munuIcon {
        display: none;
    }
    
    .texts {
        /* margin-bottom: .2em; */
        padding: .3em;
        color: rgb(7, 7, 7);
        text-align: center;
        font-size: x-large;
        font-weight: 100;
        font-family: 'Lobster', cursive;
        /* margin-top: 1.3em; */
        /* box-shadow: .5em .5em 5px 1px #21405e; */
    }
    
    .munuIcon:hover {
        /* margin-top: .5em; */
        display: flex;
        position: relative;
        bottom: 1em;
    }
    
    .texts:hover,
    .munuIcon:hover {
        position: relative;
        bottom: -.2em;
        border-radius: 5px;
        background-color: #dbdbe112;
        font-size: 1.6em;
        text-shadow: 3px 2px 8px rgb(16, 16, 85);
    }
    
    .menu_sup ul li:hover a .munuIcon {
        /* z-index: 1; */
        border-radius: 10%;
    }
    /*_________________ check___________________*/
    
    #idInput,
    #idlabel {
        display: none;
    }
    
    #idInput:checked~* lu {
        border: 1px solid red;
        background-color: red;
        display: none;
    }
    /* **************** main ************** */
    
  
    
    section {
        min-height: 90vh;
        height: auto;
        margin-bottom: 1em;
        padding: 2%;
    }
    /* ----------------- 1) inicio ----------------- */
    
    .inicio {
        background-color: rgb(43, 38, 34);
        padding: 3%;
        height: 90%;
        max-height: 95vh;
        width: 100%;
        background: url(img/inicio-frontal.jpg);
        background-attachment: local;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center ;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
    
    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-size: 100em;
        font-weight: 900;

    }
    .saludar{
        margin-top: 2em;
        text-shadow: -10px -5px 10px rgb(255, 255, 255),10px 5px 10px rgb(255, 255, 255);

    }
    .titulo {
        justify-self: center;
        align-items: center;
        /* width: max-content; */
        /* border: 1px solid black; */
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        font-size: xx-large;
        font-weight: 900;
        /* background-color: rgba(228, 216, 216, 0.556); */
        text-shadow: -10px -5px 10px rgb(255, 255, 255),10px 5px 10px rgb(255, 255, 255);
        /* box-shadow: 5px 10px 50px rgba(228, 31, 31, 0.556), 5px 10px 50px rgb(150, 149, 226) inset; */
        /* padding: .2em; */
        /* border-radius: 3em; */
    }
    .abajo{
        position: relative;
        top: 90%;
    }
    .retroceder,.avanzar{
        width: auto;
        height: auto;
        padding: 1.3em;
        color: #7f7ea7;
        border: none;
        background-color: transparent;
        clip-path: circle(2em at center);
        z-index: 1;
    }
    #retroceder:hover,#avanzar:hover{
        width: auto;
        /* height: auto; */
        color: #1a1919;
        background-color: #dddeeb;
        clip-path: circle(2em at center);
    }
    
    /* -----------------2) fortalesas ----------------- */
    
    .fortalesas {
        border: 2px solid red;
        min-height: 100vh;
        /* max-height: max-content; */
        height: auto;
        padding: 0px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
        
    }
    
    .fondo {
        /* position: relative; */
        width: 99%;
        background-image: url(img/fullStack.png);
        background-size: contain;
        background-attachment: fixed;
        background-repeat: repeat-y;
        background-size: 100%;
    }
    
    .titulo {
        text-align: center;
        align-items: center;
    }
    
    .fortitle {       
        text-shadow: -5px -5px 10px rgb(255, 255, 255),5px 5px 10px rgb(255, 255, 255);
    }
    
    .conteiner {
        width: 100%;
        padding: 2em 2em;
        margin: auto;
        display: flex;
            justify-content:  space-around;
            flex-flow: row wrap;
        /* background-color: #0080ff; */
    }
    
    .item {
        /* position: relative; */
        width: 18em;
        min-width: 15em;
        margin: 0em 0em 1em 2%;
        padding: 1em;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .item span {
        font-size: l;
        margin: 1em 0em;
        font-size: large;
        color: black;
    }
    /* --------- ------ front ----- -------*/
    .item:first-child {
        /* max-width: 20em;
        min-height: 22em; */
        color: #4c48b8;
        align-content: center;
        box-shadow: .5em .5em 5px 1px  #21405e;
        /**/
        background: rgba(0,196,255,1);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgb(255, 255, 255) 0%, rgba(198,233,43,1) 0%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
        
    }
    .iconFront{
        padding: 20px;
        height: 1.29em;
        border: 1px sold red;
        background-color: #0080ff;
        clip-path: circle(50% at 50% 55%);
        box-shadow: .5em .5em 5px 1px  #21405e;
         background: rgb(187, 255, 0);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(198,233,43,1) 51%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
		
        box-shadow: -4px -20px 16px -16px inset rgba(179, 136, 136, 0.611);
        position: relative;
        animation-name: example;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;   
    }
    @keyframes example {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:10%; top:0%;}
        50%  {background-color:blue; left:0%; top:0%;}
        75%  {background-color:green; left:10%; top:0%;}
        100% {background-color:red; left:0%; top:0%;}
      }
    /* --------- ------ back ----- -------*/
    
    .item:nth-child(2) {
        max-height:22em ;
        min-height:22em ;
        color: #131230;
        box-shadow: .5em .5em 5px 1px  #21405e;        
        background-color: rgb(226, 235, 50);
        /**/
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
        background: linear-gradient(to bottom, rgba(69,143,0,1) 0%, rgba(114,133,37,1) 36%, rgba(205,224,188,1) 55%, rgba(205,224,188,1) 61%, rgba(85,120,53,1) 100%);
    }
    .iconBack{
        /* infinite */
        padding: 20px;
        height: 1.29em;
        background-color: #0080ff;
        clip-path: circle(50% at 50% 55%);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        font-size:8em;
        background: linear-gradient(to bottom, rgba(69,143,0,1) 0%, rgba(114,133,37,1) 45%, rgba(205,224,188,1) 93%, rgba(205,224,188,1) 100%); */
        position: relative;
        animation-name: animacionBack;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-direction: alternate;  
    }
    @keyframes animacionBack {
        0% {color:rgb(35, 38, 121); 
             left:0%; top:0%; }
        20% { color:rgb(86, 88, 116); 
            left:5%; top:-5%;  font-size:7em;
            clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);  
        }
        40% {color:rgb(88, 83, 140); 
            left:-15%; top:-5%; font-size:7em; 
            clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
        }
        60% {color:rgb(58, 47, 130); 
            left:10%; top:0%;font-size:7.5em;
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        }
        80% {color:rgb(50, 28, 111); 
            left:-10%; top:0%;
             font-size:8em;
            }
        100% {color:rgb(71, 54, 131); 
            left:0%; top:0%;}
        
      }
    /* --------- ------ BBDD ----- -------*/

    .item:nth-child(3) {
        height: auto;
        max-height:23em ;
        min-height:23em ;
        padding-bottom:2em ;
        color: #131230;
        background-color: rgb(134, 139, 116);
        background: linear-gradient(to bottom, hsl(197, 94%, 49%) 0%, rgba(41,184,229,1) 55%, rgba(188,224,238,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#a86e09', GradientType=1 );
        background-blend-mode: multiply;
    }
    .iconBBDD{
        padding: 20px;
        height: 1.29em;
        background-color: #0080ff;
        clip-path: polygon(15% 21%, 87% 20%, 100% 100%, 0% 100%);
        clip-path: polygon(17% 17%, 84% 14%, 100% 91%, 0 92%);
        clip-path: polygon(19% 11%, 81% 10%, 100% 100%, 3% 100%);
        background: linear-gradient(to bottom, hsl(197, 94%, 49%) 0%, rgba(41,184,229,1) 55%, rgba(188,224,238,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#a86e09', GradientType=1 );
        
        position: relative;
        animation-name: animacionBBDD;
        animation-duration: 5s;
        animation-iteration-count:infinite;
        animation-direction: alternate; 
    }
    @keyframes animacionBBDD {
        0%   { left:0%; top:0%; font-size: 9.5em;}
        25%  { left:0%; top:-2%; font-size: 9.2em;}
        50%  { left:0%; top:-4%; font-size: 8.9em;}
        75%  { left:0%; top:-6%; font-size: 8.6em;}
        100% { left:0%; top:-8%; font-size: 8.3em;}
      }
    /* --------- ------ iconos ing ----- -------*/
    
    .item:nth-child(4) {
        padding: 0px;

    }
    
    .last {
        border-radius: 5px;
        background-color: #fefefe;
        padding: .3em 1em;
        height: auto;
        width: 100%;
        display: flex;
         flex-direction: row;
         overflow-x:scroll;
    }
    
    .last img {
        height: 5em;
        max-width: auto;
        width: 8em;
        min-width: 5em;

        /* width: auto; */
        /* display: inline-block; */
        margin: 1em;
        /* object-fit: cover; */
    }
    .text {
        color: rgb(7, 7, 7);
        border-radius: 5px;
        font-family: serif, 'Times New Roman', Times;
        font-size: larger;
        font-weight: 100;
        margin-top: -1.5em;
        padding: 0em .5em;
        z-index: 2;
        box-shadow: .5em .5em 5px 1px #21405e;
    }
    
    /* -----------------3) Portafolio ----------------- */
    
    .portafolio {
        background-image: url(img/fondoPortafolio1.jpg);
        background-size: cover;
        background-repeat: repeat-y;
        background-clip: border-box;
        background-position: center;
        height: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .proyect {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .proyect a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .proyect a p {
        width: 16em;
        font-size: large;
        padding: .5em;
        height: auto;
        border-radius: 8px;
        background-color: #ccccd6;
        background: linear-gradient(45deg, rgba(254,254,254,1) 0%, rgba(171,255,255,1) 33%, rgba(230,230,230,1) 74%, rgba(254,254,254,1) 100%);
    }
    
    .imgProy {
        width: 18em;
        border: 2px solid white;
        position: relative;
        border-radius: 10px;
        /* outline: 5px outset rgba(14, 14, 214, 0.507); */
    }
    
    .imgProy:hover {
        width: 25em;
        /* box-shadow: 1em -.5em 1em 1em #21405e; */
        -webkit-box-shadow: 4px 4px 43px 42px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 4px 43px 42px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 4px 43px 42px rgba(0, 0, 0, 0.75);
    }
    /* ----------------- 4) habilidades ----------------- */
    
    .habilidades {
        background-image: url(img/habilidades\ 4.png);
        background-repeat: repeat-y;
        background-position: center;
        background-size: cover;
        background-clip: initial;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        height: auto;
        min-height: 100vh;
    }
    
    .habilidades aside {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        z-index: 0;
        /* background-color: #ce8d6f8e; */
    }
    
    .contorno {
        position: relative;
        width: 30%;
        min-width: 20em;
        max-width: 20em;
        margin: 10px;
        background-color: #ffffffea;
        border-radius: 10px;
        max-height: 20em;
    }
    
    .foto {
        text-align: center;
        /* clip-path: ellipse(47% 50% at 50% 50%); */
        background-image: radial-gradient(rgb(255, 255, 255), rgb(119, 112, 143), rgb(0, 0, 0));
        background-image: radial-gradient(white 50%, rgb(152, 177, 194) 15%, rgb(152, 152, 255) 60%);
        background-image: radial-gradient(circle, rgba(60, 28, 28, 0.568) 0% 50%, rgb(177, 162, 162) 5%, rgb(255, 255, 255) 10%, rgb(95, 157, 162));
        background: rgba(0, 0, 0, 1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 31%, rgba(116, 113, 133, 1) 49%, rgba(221, 224, 240, 1) 62%, rgba(228, 229, 238, 1) 72%, rgba(234, 234, 235, 1) 82%, rgba(235, 235, 235, 1) 83%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(31%, rgba(0, 0, 0, 1)), color-stop(49%, rgba(116, 113, 133, 1)), color-stop(62%, rgba(221, 224, 240, 1)), color-stop(72%, rgba(228, 229, 238, 1)), color-stop(82%, rgba(234, 234, 235, 1)), color-stop(83%, rgba(235, 235, 235, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 31%, rgba(116, 113, 133, 1) 49%, rgba(221, 224, 240, 1) 62%, rgba(228, 229, 238, 1) 72%, rgba(234, 234, 235, 1) 82%, rgba(235, 235, 235, 1) 83%, rgba(255, 255, 255, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 31%, rgba(116, 113, 133, 1) 49%, rgba(221, 224, 240, 1) 62%, rgba(228, 229, 238, 1) 72%, rgba(234, 234, 235, 1) 82%, rgba(235, 235, 235, 1) 83%, rgba(255, 255, 255, 1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 31%, rgba(116, 113, 133, 1) 49%, rgba(221, 224, 240, 1) 62%, rgba(228, 229, 238, 1) 72%, rgba(234, 234, 235, 1) 82%, rgba(235, 235, 235, 1) 83%, rgba(255, 255, 255, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 31%, rgba(116, 113, 133, 1) 49%, rgba(221, 224, 240, 1) 62%, rgba(228, 229, 238, 1) 72%, rgba(234, 234, 235, 1) 82%, rgba(235, 235, 235, 1) 83%, rgba(255, 255, 255, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1);
    }
    
    .foto:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #ec731e;
        -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        /**/
    }
    
    .foto div {
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        clip-path: circle(7em at center);
    }
    
    .foto div:hover .imgGio {
        /*cambia  la img opueta al eje Y*/
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    }
    
    .foto div img {
        width: 70%;
    }
    
    .video {
        /* border: 1px solid black; */
        -webkit-box-shadow: inset 20px 97px 148px -10px rgba(150, 166, 27, 1);
        -moz-box-shadow: inset 20px 97px 148px -10px rgba(150, 166, 27, 1);
        box-shadow: inset 20px 97px 148px -10px rgba(150, 166, 27, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .video video {
        width: auto;
        height: 70%;
        border: 2px double rgb(255, 255, 255);
    }
    
    .name {
        font-family: 'Literata', serif;
        font-family: 'Roboto Slab', serif;
        font-size: 1.2em;
        
    }
    
    .info {
        position: relative;
        padding: 1em;
        -webkit-box-shadow: inset 20px 97px 148px -10px rgba(227, 245, 61, 1);
        -moz-box-shadow: inset 20px 97px 148px -10px rgba(227, 245, 61, 1);
        box-shadow: inset 20px 97px 148px -10px rgba(227, 245, 61, 1);
        border-radius: 0px 77px 0px 32px;
        -moz-border-radius: 0px 77px 0px 32px;
        -webkit-border-radius: 0px 77px 0px 32px;
        border: 0px solid #000000;
    }
    
    .containerSobreMy {
        height: 13em;
        position: relative;
        overflow-y: auto;
    }
    /* **************** footer ************** */
    
    footer {
        width: 100%;
        height: auto;
        max-height: 120vh;
        
        /* border: 2px ridge blue; */
        background-color: rgb(240, 255, 245);
        background-image: url(img/contacto1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        /* grid-template-areas: "nom email" "asun msn" "enviar";    */
    }
    /* ----------------- 4) contacto ----------------- */
    footer {
        padding: 0em .5em;
        max-width: 100%;

        max-height: 100%;
        
        background-color: aliceblue;
    }
    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .formulario {
        /* width: 50%; */
        border: 1px solid black;
        height: auto;
        min-height:25em;
        padding: 1em;
        margin: 1em 0em;
        box-shadow: 1em 1em 15px 7px #012549;
        background-color: #15162eb6;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 40% 50%;
        grid-template-rows: .5fr 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 1em;
        text-align: center;
        grid-template-areas: "nom asun" "email msn" " enviar msn";
    }
    .formulario div {       
        /* background: red; */
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    .formulario div:first-child {
     
        /* background-color: yellow; */
        grid-area: nom;
        height: 5em;
        margin-bottom: 2em;
        justify-content: center;
    }
    
    .formulario div:nth-child(2) {
        height: 5em;
        /* background-color: black; */
        grid-area: email;
        /* background-color: rgb(0, 255, 242); */
    }
    
    .formulario div:nth-child(3) {
        height: 5em;
        color: chocolate;
        grid-area: asun;
        /* background-color: rgb(0, 255, 242); */
    }
    
    .formulario div:nth-child(4) {
        width: 100%; height: 100%;
        grid-area: msn;
        
        /* background-color: rgb(0, 255, 242); */
    }
    
    .formulario div:nth-child(5) {
        height: 5em;

        grid-area: enviar;
        /* background-color: rgb(0, 255, 242); */
    }
    
    .mensaje {
        width: 100%;        
        height: 90%;
        
        overflow-y:auto ;
    }
    
    .input {
        position: relative;
        background-color: rgb(246, 253, 255);
        max-width: 100%;
        min-width: 50%;
        height: 2.8em;
        border-radius: 5px;

    }
    
    .input:hover,
    textarea:hover {
        background-color: antiquewhite;
    }
    
    .samp {
        margin-right: 1em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.5em;
        font-weight: 600;
        color: blanchedalmond;
    }
    
    .links {
        margin: 0em -1em;
        padding: .8em;
        text-align: center;
        background-color: #131230;
        color: #ffffff;
    }
    
    .links a {
        margin: 0em 1em;
    }
    
    .formulario div {
        height: auto;
    }
    
    .enviar{ 
        height: 2em;
        width: 5em;
        border: none;
        color: white;
        font-size: 20px;
        background: #8e93d1;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .enviar:hover {
        background: cadetblue;
    }
    
    .enviar:active {
        /* lo q hace es q al momento de precionar cambie la escala*/
        transform: scale(.7);
    }
    /* -----------------tbas -------------------------- */
    
    .tab {
        position: relative;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* filter: invert(50%); */
    }
    
    .tab a {
        padding: 9px;
        /* background-color: blue; */
    }
    
    .tab1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100vh;
        margin: 1em;
        /* background-color: #ccccd6; */
        /* clip-path: circle(3em at center); */
    }
    
    .tab2,
    .tab3,
    .tab4,
    .tab5 {
        color: #1c1515;
        margin: 10px;
        height: auto;
        min-height: 5em;
        padding: .5em;
        background-color: #c0e9f0;
        clip-path: circle(2.5em at center);
    }
    
    .tab a:hover {
        /* height: 5.3em; */
        color: #3d3bb1;
    }
    
    .tab3 {}
    
    .tab4 {}
    
    .tab5 {}