@media screen and (max-width: 984px){


}



@media screen and (max-width: 850px){
    /*----------------- menu superior -------------------*/
    .sup{
        height: 4.8em;
        padding: .2em 1em;
        display: flex;
        justify-content: space-between;
        
    }
    .menu_sup ul,.menu_sup  {
        position: absolute;
        top: 2.7em;
        right: 0;
        display: flex;
        flex-direction: column;
        
        max-width: 20rem;
        padding-bottom: 1em;

    }
    .menu_sup ul{
        position: absolute;
        left: auto;
        top: 2.05em;
        
        border-radius: 0px 0px 0px 10px ;
        background-color: rgba(255, 255, 255, 0.885);
        box-shadow:  7px -11px 43px 30px transparent;
        
    }
    ul li{
        z-index: 2;
        margin-left: -2em;
        position: relative;
        width: 100%;
        box-shadow: 1px 5px 20px 20px rgba(233, 232, 237, 0.563) inset;

    }
    ul li a{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: -10em;
        z-index: 2;
    }
    .munuIcon{
        display: flex;
        margin-bottom: 15px;
    }
    .munuIcon,.texts{
        z-index: 2;
    }
    .iconinverter{
        position: absolute;
        top: -2.9em;
        right: 2em;
        padding-right:5em ;
    }
    
    #idlabel {        
        height: auto;
        position: relative;
            top: -2em;  
            left: -2em;          
        margin: 1em;
        display: flex;
        background-color: rgb(255, 255, 255);
        
    }
    #idInput{
        display: none;
    }
    #idInput:checked~ul {
        display: none;
    }
    #idlabel:hover,#idInput:hover{
        /* display: block; */
        width: 2em;
        color: rgb(91, 110, 252);
    }
    .diaNoche:hover{
        color: rgb(8, 11, 34);
    }
    /*----------------- main (inicio) -------------------*/

    /* -----------------2) fortalesas ----------------- */
    .fortalesas {
        position: ;
    }
    .conteiner {
        /* display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto 3fr;
        max-width: 100%; */
    }
    .formulario {
        /* background-color: #b3dcee; */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 8em 5em 10em 10em 10em;
        grid-template-areas: "nom"  "email" "asun" "msn" "enviar";

    }

    .formulario div:nth-child(4) {
        width: 100%; height: 200px;
        
        grid-area: msn;
        
        /* background-color: rgb(0, 255, 242); */
    }
    .formulario div { display: flex; flex-flow: row wrap;}
    .mensaje {
        width: 428px; height: 100%;       
    }
    .enviar{ 
        height: 3em;
        width: 15em;
        border: none;
        color: white;
        font-size: 25px;
        background: #00fae1;
        border-radius: 5px;
        cursor: pointer;
    }

@media screen and (max-width: 300px){

    .menu_sup ul  {      
        background-color: #b3dcee;
    }
  

}