*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
body{
    background: rgb(185, 172, 214);
    background-position: center;
}
    .nav{
        background: chartreuse;
        height: 5em;
        max-width: 100%;
        display: flex;
        
       
    }
    /*Margin: 1em; (top right bottom left)
    Margin: 1em 2em; (Y X)
    Margin: 1em 2em 3em; (top, X, bottom)
    Margin: 1em 2em 3em 4em; (top right bottom left)*/
    .menu{
        background: red;
        width: 100%;
       /* width: 1000px;
        display: flex;
        flex-wrap: wrap;
        height: 0px;*/
    }
    .menu_f0, .menu_f1, .menu_f2, .menu_f3, .menu_f4, .menu_f5 {
        display: inline-flex;
        line-height: 2em;
        width: auto;
        padding: 0px 6px;
        border: 1px solid black;
        background: yellow;
        position: relative;
            left:  50%;
            margin-top: 3em;            
            margin-inline-end: 1em ;
        
    }
    .logo{
        width: 200px;
        height: 50px;
        margin-top: 15px;
        margin-left: 100px;
        padding-left: 15px;
    }