*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color:rgb(17, 0, 255);
    background-image: url(img/fondo.jpg);
    background-image: url(../img/fondo.jpg);
   
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
	color: black;
    width: 100%;
    padding: 20px;

}
.formulario{
    background-color: #CDBF7D;/*color de fondo*/
    margin-top:  500px;   
    padding: 20px;
    width: 460px ;
    height: auto;
    margin: auto;
    border-radius: 15px;
}

input[type="text"],input[type="email"],input[type="number"],
input[type="password"],input[type="date"]{
    font-size: 13px;/* tamaño de nombres*/
    width: 70%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 0px;
    border-radius: 5px;
}
.input-contenedor{
	min-width: 50px;
	text-align: center;
	color: #053028;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: black;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}
.button:hover{
    background: cadetblue;
}
.button:active, .pago_pagar:active {/* lo q hace es q al momento de precionar cambie la escala*/
    transform: scale(.9);
}

.msn{
    font-style: italic;    
    font-size: 1.3em;    
}
.link{
      text-decoration: none;
    color: rgb(179, 12, 109);
    font-weight: 6000;    
  }

.link:hover{
    color: cadetblue;
}

.infoUsuario{
	background-color: #b9a95d;;
    width: 360px;
    height: 120px;
    margin-left: 0px;
    padding-left: -20px;
    padding-top:10px; 
    border-radius: 5px;
}
nav{	
	margin-top:  0px;
	margin-right:0px; 
}
header{
	width: 220px;
	height: 80px;
	background-color: orange;
	padding-left:  10px;
	padding-top: 10px;
	border-radius: 5px;
	margin-top: -10px;
	margin-bottom: 10px;
}
h1{  
       
	height: 1px;	
    color: white;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 10px;
   
    text-decoration: underline white;
    
}
#numCliente{    
    width: 100px;     
    position: relative;
        top: -10px;
        left: 70%;
}